@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

input,
textarea {
  @apply border-2 border-gray-200 rounded-md p-1 flex-grow;
}

input:focus,
textarea:focus {
  @apply border-gray-700;
}

@layer components {
  .btn {
    @apply font-bold uppercase text-center text-sm px-6 py-3 rounded-full;
  }

  .btn:hover {
    @apply shadow shadow-lg outline-none;
  }

  .btn:focus {
    @apply ease-linear transition-all duration-150;
  }

}

label {
  @apply text-lg text-gray-700;
}


select {
  @apply border-2 border-gray-200 p-1 mb-2 w-full;
}

th {
  @apply p-2 bg-gray-100;
}

td {
  @apply p-2 text-center;
}

tr:nth-child(even) {
  @apply bg-gray-100;
}